<!DOCTYPE html>
<html lang="en">
<head>
<title>Gome OM</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/static/css/fullcalendar.css" />
<link rel="stylesheet" href="/static/css/matrix-style.css" />
<link rel="stylesheet" href="/static/css/matrix-media.css" />
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/static/css/jquery.gritter.css" />
<link rel="stylesheet" href="/static/css/main.css" />
{#<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>#}

    <style>
        .head-font{
            color: white;
            padding-left: 1%;
        }
        .selected-menu{
            background-color: rgba(4, 193, 84, 0.99);
            color: rgba(255, 255, 255, 0.87) !important;
        }
    </style>

    {% block css %}

    {% endblock %}
</head>


<body>

<div id="header" style="height: 40px;">
    <h2 class="head-font">Gome OM</h2>
</div>

<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">

    <li class=""><a title="" href="/task/"> <span class="text">值班表</span></a></li>

  {% if userinfo.user_auth %}
      {% if userinfo.user_auth == 9999 %}
    <li class=""><a title="" href="/budget_show/"> <span class="text">采购预算</span></a></li>
    <li class=""><a title="" href="/cloud/"> <span class="text">云主机统计</span></a></li>

      {% endif %}
  {% endif %}
    <li class=""><a title="" href="/idc/"> <span class="text">物理机统计</span></a></li>

{#            <li  class="dropdown" id="profile-messages" >#}
{#                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">#}
{#                    <i class="icon icon-user"></i>#}
{#                    <span class="text">采购预算</span>#}
{#                    <b class="caret"></b>#}
{#                </a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="/budget_list/"><i class="icon-file"></i>表格展示</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#"><i class="icon-list"></i>表格管理</a></li>#}
{#              </ul>#}
{#            </li>#}

    <li  class="dropdown" id="profile-messages" >
        <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>
            <span class="text" style="color: white">{{ userinfo.cn_name }}</span><b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="/account/logout/"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>

{#    <li class=""><a title="" href="/account/login/"><i class="icon icon-share-alt"></i> <span class="text">退 出</span></a></li>#}

  </ul>
</div>

{#<div id="search">#}
{#  <input type="text" placeholder="Search here..."/>#}
{#  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>#}
{#</div>#}

<div id="sidebar">
  <ul style="font-weight: bold">
{#    iptables#}
    <li id="iptables" class="submenu">
        <a href="#">
            <sapn class="icon-align-justify"></sapn>
            <span>Iptables</span>
        </a>
      <ul>
        <li><a id="iptables-init" href="/iptables/init/">初始化</a></li>
        <li><a id="iptables-check" href="/iptables/check/">查询</a></li>
        <li><a id="iptables-add" href="/iptables/add/">新增</a></li>
      </ul>
    </li>
{#      Ping#}
    <li id="connection" class="submenu">
        <a href="#">
            <i class="icon-heart" style="margin-right: 0px"></i>
            <span>运维操作</span>
        </a>
      <ul>
        <li><a id="ping" href="/connection/ping/">Ping</a></li>
        <li><a id="smtp" href="/smtp/">SMTP</a></li>
      </ul>
    </li>

{#      密码管理#}
    <li id="pwd-manager" class="submenu">
        <a href="#">
            <sapn class="icon-key"></sapn>
            <span>密码管理</span>
        </a>
      <ul>
        <li><a id="password-check" href="/password/check/">密码查询</a></li>
        <li><a id="password-import" href="/password/import/">密码导入</a></li>
          {% if userinfo.user_auth %}
            {% if userinfo.user_auth > 9100 %}
                <li><a id="password-init" href="/password/init/">密码初始化</a></li>
                <li><a id="password-server" href="/password/server/">管理口密码</a></li>
            {% endif %}
          {% endif %}
      </ul>
    </li>

{#      ansible#}
    <li id="ansible-execute" class="submenu">
        <a href="#">
            <sapn class="icon-key"></sapn>
            <span>Ansible执行</span>
        </a>
      <ul>
        <li><a id="ansible-cmd" href="/ansible/cmd/">命令执行</a></li>
        <li><a id="ansible-file" href="/ansible/file/">文件分发</a></li>
        <li><a id="ansible-script" href="/ansible/run_script/">脚本执行</a></li>
      </ul>
    </li>

{#    log#}
    <li id="log" class="submenu">
        <a href="#">
            <sapn class="icon-book"></sapn>
            <span>日志</span>
        </a>
      <ul>
        <li><a id="iptables-log" href="/log/iptables/">Iptables</a></li>
        <li><a id="password-log" href="/log/password/">Password</a></li>
      </ul>
    </li>


  </ul>
</div>

<div id="content">

  <div class="container-fluid">
    {% block container %}

    {% endblock %}

  </div>
</div>



    <script src="/static/js/excanvas.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.ui.custom.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.resize.min.js"></script>
    <script src="/static/js/jquery.peity.min.js"></script>
    <script src="/static/js/fullcalendar.min.js"></script>
    <script src="/static/js/matrix.js"></script>
    <script src="/static/js/matrix.dashboard.js"></script>
    <script src="/static/js/jquery.gritter.min.js"></script>
{#    <script src="/static/js/matrix.interface.js"></script>#}
    <script src="/static/js/matrix.chat.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/matrix.form_validation.js"></script>
    <script src="/static/js/jquery.wizard.js"></script>
    <script src="/static/js/jquery.uniform.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/matrix.popover.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/matrix.tables.js"></script>
    <script src="/static/js/common.js"></script>

    <script type="text/javascript">

    </script>

    {% block js %}

    {% endblock %}
</body>
</html>
