{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css" />

    <style>
        .true-rule{
            color: green;
        }
        .false-rule{
            color: red;
        }
        .error-msg{
            color: red;
            font-weight: bold;
        }

        .table td{
            text-align: center;
        }
        .current-day{
{#            background-color: #ff8001;#}
            color: black;
            font-weight: bold;
        }
        .hide-tr{
            display: none;
        }


    </style>
{% endblock %}


{% block container %}
    <div class="nopadding" style="margin-top: 20px;">
{#    <div id="add-data" class="hide-tr" style="width: 45%;">#}

{#        <div class="widget-box">#}
{##}
{#        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>#}
{#          <h5>录入数据</h5>#}
{#        </div>#}
{#        <div class="widget-content nopadding">#}
{#          <form action="/cloud/new_data/" method="POST" class="form-horizontal">#}
{##}
{#            {% if all_company.status %}#}
{#                {% for company_dict in all_company.data %}#}
{#                    <div class="control-group">#}
{#                      <label class="control-label" style="text-align: center; width: 150px">{{  company_dict.company_name }} :</label>#}
{#                      <div class="controls" style="margin-left: 150px">#}
{#                        <input type="text" class="span2" name="{{ company_dict.id }}">#}
{#                          <input  type="text" name="{{ company_dict.id }}" class="ui-wizard-content">#}
{#                      </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#              {% endif %}#}
{##}
{#            <div class="form-actions">#}
{#              <button type="submit" class="btn btn-success">提 交</button>#}
{#    <input id="next" class="btn btn-primary ui-wizard-content ui-formwizard-button" type="submit" value="Next">#}
{#            </div>#}
{#          </form>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
    <div id="add-data" class="widget-box hide-tr" >
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Form validation</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="/cloud/" name="basic_validate" id="basic_validate" novalidate="novalidate">

            {% if all_company.status %}
                {% for company_dict in all_company.data %}
              <div class="control-group error">
                <label class="control-label">{{  company_dict.company_name }}</label>
                <div class="controls">
                  <input type="text" name="{{ company_dict.id }}" id="date">
                    <span for="date" generated="true" class="help-inline">不能为空，必须为数字</span>
                </div>
              </div>
                {% endfor %}
            {% endif %}
              <div class="form-actions">

                  <input type="submit" value="提 交" class="btn btn-success">
                  <button class="btn btn-primary" onclick="Hide('#add-data')">收起</button>
              </div>
            </form>
          </div>
        </div>

    <div  class="widget-box">
        <p>
            <button class="btn btn-success" style="font-weight: bold;" onclick="Show('#add-data')">新增数据</button>

        </p>
    </div>

    <table class="table table-striped table-bordered" style="border: 1px solid #CDCDCD;">

          <thead>
              <tr>
                  <th></th>
                  <th></th>
                  <th>云主机数量</th>
              </tr>
              <tr>
                  <th></th>
                  <th></th>
                  <th id="month_1">6月</th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                  <th id="month_2">7月</th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
              </tr>
            <tr>
              <th>别名</th>
              <th>公司名称</th>
              <th>第一周</th>
              <th>第二周</th>
              <th>第三周</th>
              <th>第四周</th>
              <th>第一周</th>
              <th>第二周</th>
              <th>第三周</th>
              <th>第四周</th>
            </tr>
          </thead>
{#              <tbody id="rule-list" style="font-weight: bold;text-align:center;">#}
          <tbody id="data-list" class="tbody-font">

          </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $(function(){
{#            $.InitMenu('#asset_list');          /* 控制左侧菜单的闭合 为点击的按钮添加激活的样式 */#}
            Initialise();

        });
        function Initialise () {
            $.ajax({
                url:'/cloud/show_data/',
                type:'POST',
                traditional:true,
                data:{'host_data':'get_all'},
                success: function (callback) {
                    var callbacks = $.parseJSON(callback);               /* 将后台返回的数据 序列化为字典*/

                    EmbedIntoTable(callbacks,"#data-list");   // 将所有的数据都添加到id=table-body的tbody标签中

                },
                error:function(){
                    $('#error-message').text('请求失败！！')
                }
            });  // end ajax
        }

        function EmbedIntoTable(response, body){
            var response_status = response.status;
            if(response_status){
                $(body).empty();
                $.each(response.data,function(key,value){           // 循环数据列表  value 为各个公司的数据字典
                    var company_alias = value.company_alias;
                    var company_name = value.company_name;


                    var tds = [];
                    tds.push($.CreateTd({'class':'taskDesc'}, {}, company_alias));
                    tds.push($.CreateTd({'class':'taskDesc'}, {}, company_name));
                    var current_month = {};
                    var another_month = {};
                    $.each(value.company_data, function (index, value_dict) {

                        if (value_dict.add_month == "6"){
                            if(value_dict.add_week =="1"){
                                current_month.week1 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="2"){
                                current_month.week2 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="3"){
                                current_month.week3 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="4"){
                                current_month.week4 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }

                        }else if(value_dict.add_month == "7"){
                            if(value_dict.add_week =="1"){
                                another_month.week1 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="2"){
                                another_month.week2 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="3"){
                                another_month.week3 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }else if(value_dict.add_week =="4"){
                                another_month.week4 = $.CreateTd({'class':'taskDesc'}, {}, value_dict.host_counts);
                            }
                        }

                    });

                    var new_list = tds.concat([
                        current_month.week1,
                        current_month.week2,
                        current_month.week3,
                        current_month.week4
                    ]).concat([
                        another_month.week1,
                        another_month.week2,
                        another_month.week3,
                        another_month.week4]);

                    var tr = $.CreateTr({}, {}, new_list);

                    $(body).append(tr)
                })
            }else {
                $('#error-message').text(response.message);
            }
        }

        function Show(target){

            $(target).removeClass('hide-tr');
        }
        function Hide(target){

            $(target).addClass('hide-tr');
        }

        function CurrentTime(current_time, current_month){

            $('#current-time').text(current_time);
            $('#current-month').text(current_month).append("<span class='caret'></span>");

        }
{#        定位到当月当天的位置，并添加颜色样式#}
        function CurrentDay(current_day){
            $('#rule-list').children().each(function () {
                var day_num = $(this).attr('day-num');
                if (current_day == day_num){
                    $(this).children().attr('style', 'background-color: #ff8001');
                    $(this).addClass('current-day')
                }
            })

        }

    </script>

{% endblock %}