{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css" />

    <style>
        .true-rule{
            color: green;
        }
        .false-rule{
            color: red;
        }
        .error-msg{
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %}


{% block container %}
    <div class="nopadding" style="margin-top: 20px;">
    <h3>密码导入</h3>

        <div class="control-group">
              <div class="controls">
                <label>
                  <div class="radio" id="uniform-undefined"><span><input type="radio" envir="P" name="radios" style="opacity: 0;"></span></div>
                  生产环境</label>
                <label>
                  <div class="radio" id="uniform-undefined"><span class="checked"><input type="radio" envir="T" name="radios" style="opacity: 0;"></span></div>
                  测试环境</label>
              </div>
        </div>

        <div class="widget-box">
          <div class="widget-title">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#tab1">文件导入</a></li>
            </ul>
          </div>

          <div class="widget-content tab-content" >

            <div id="tab1" style="font-weight: bold" class="tab-pane active">
                <div id="file-error" class="error-msg"></div>
                <form id="form_file"  enctype="multipart/form-data">
                    <input type="file" id="fileAttach" name="pwd" />
                    <input type="button" onclick="upload_file()" value="上传" />
                    <input type="button" onclick="delete_pwd_file()" value="删除密码文件" />
                    <span id="file-wait" class="error-msg"></span>
                </form>
                <div style="color: red;font-weight: bold"><h6>必须是.xlsx格式的表格文件，并且IP地址在表格中的第一列，且格式正确</h6></div>
                <div id="get-file-error" class="error-msg"></div>
                <div class="nopadding">
                    <table class="table table-striped table-bordered" style="width:60%;border: 1px solid #CDCDCD;">
                      <thead>
                        <tr>
                          <th>历史记录</th>
                          <th>动作</th>
                        </tr>
                      </thead>

                      <tbody id="file-list">
                      </tbody>
                    </table>
                </div>
                <div id="file-ping-error" class="error-msg"></div>
                <br>
                <div>
                    <h5 id="file-pwd-list"></h5>
                </div>
            </div>

          </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $(function(){
            $.InitMenu('#pwd-manager', '#password-import');          /* 控制左侧菜单的闭合 为点击的按钮添加激活的样式 */
            Initialise();
        });

        function Initialise() {
            $.ajax({
                url:'/password/get_pwd_file/',
                type:'POST',
                traditional:true,
                success: function (data) {

                    var callbacks = $.parseJSON(data);               /* 将后台返回的数据 序列化为字典*/
                    console.log(callbacks);

                    EmbedIntoTable(callbacks,"#file-list");   // 将所有的数据都添加到id=table-body的tbody标签中

                },
                error:function(){
                    $('#get-file-error').text('获取文件列表失败')
                }
            });  // end ajax
        }

        function SubmitValue(){
            var input_ips = $('#ip-list').val();                    // 获取输入的ip
            var check_envir = $(":radio:checked").attr('envir');      // 获取所选环境
            $('#error-message').empty();
            $.ajax({
                url:'/password/check/',
                type:'POST',
                traditional:true,
                data:{'ip_list':input_ips, 'envir':check_envir},
                success: function (data) {
                    var response = $.parseJSON(data);
                    console.log(response);

                    if(response.status){
                        ExecuteReTr(response.data, '#pwd-list');
                    }else {
                        $('#error-message').text(response.message);
                    }
                },
                error:function(){
                    $('#error-message').text('获取密码失败');
                }
            });  // end ajax

        }

        function EmbedIntoTable(response, body){
            var response_status = response.status;
            if(response_status){
                $(body).empty();
                $.each(response.data,function(index,file_name){

                    var tds = [];
                    tds.push($.CreateTd({'class':'taskDesc','file-name':file_name}, {}, file_name));
                    tds.push($.CreateTd({'class':'taskOptions'}, {}, $.CreateInput({'type':'button','onclick':'RunFile(this)', 'value':'执行'}, {})));

                    var tr = $.CreateTr({}, {}, tds);

                    $(body).append(tr)
                })
            }else {
                $('#get-file-error').text(response.message);
            }
        }
        function ExecuteReTr(result_data, rule_body){
            $(rule_body).empty();
            $('#file-ping-error').empty();
            $('#ip-list').val('');
            $('#error-message').text('');
            $(rule_body).text(result_data)
        }

        function upload_file(){
            $("#file-wait").text("上传中...");
              var form = new FormData(document.getElementById("form_file"));
              $.ajax({
              url:"/password/upload_pwd_file/",
              type:"post",
              data:form,
              cache: false,
              processData: false,
              contentType: false,
              success:function(data){
                    $("#file-wait").text(" ");
                  var response = $.parseJSON(data);
                    if(response.status){
                        Initialise();
                    }else {
                        $('#file-error').text(response.message);
                    }
              },
              error:function(){
                  $('#file-error').text("请求失败");
                  $("#file-wait").text(" ");
               }
              });
            }

        function RunFile(ths){
            var file_name = $(ths).parent().siblings().first().attr('file-name');
            var check_envir = $(":radio:checked").attr('envir');      // 获取所选环境
            $.ajax({
                url:'/password/import/',
                type:'POST',
                traditional:true,
                data:{'file_name':file_name, 'envir':check_envir},
                success: function (callback) {
                    var response = $.parseJSON(callback);
                    console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaa", response);
                    if(response.status){
                        ExecuteReTr(response.data, '#file-pwd-list');
                    }else {
                        $('file-pwd-list').empty();
                        $('#file-ping-error').text(response.message);
                    }
                },
                error:function(){
                    $('#file-ping-error').text('请求失败');
                }
            });  // end ajax

        }

        function delete_pwd_file(){
            $.ajax({
                url:'/password/delete_pwd_file/',
                type:'POST',
                traditional:true,
                data:{'opt':'delete'},
                success: function (callback) {
                    var response = $.parseJSON(callback);
                    if(response.status){
                        Initialise();
                    }else {
                        $('#file-ping-error').text(response.message);
                    }
                },
                error:function(){
                    $('#file-ping-error').text('请求失败');
                }
            });  // end ajax

        }
{#$(":radio:checked").attr('envir')#}
    </script>

{% endblock %}