{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css" />

    <style>
        .true-rule{
            color: green;
        }
        .false-rule{
            color: red;
        }
        .error-msg{
            color: red;
            font-weight: bold;
        }
        .dis-table{
            display: none
        }
    </style>
{% endblock %}


{% block container %}
    <div class="nopadding" style="margin-top: 20px;">
    <h3>服务器初始化密码</h3>

        <div class="control-group">
              <div class="controls">
                <label>
                  <div class="radio" id="uniform-undefined"><span><input type="radio" envir="P" name="radios" style="opacity: 0;"></span></div>
                  生产环境</label>
                <label>
                  <div class="radio" id="uniform-undefined"><span class="checked"><input type="radio" envir="T" name="radios" style="opacity: 0;"></span></div>
                  测试环境</label>
              </div>
        </div>

        <div class="widget-box">
          <div class="widget-title">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#tab1">文件导入</a></li>
            </ul>
          </div>

          <div class="widget-content tab-content" >

            <div id="tab1" style="font-weight: bold" class="tab-pane active">
                <div id="file-error" class="error-msg"></div>
                <form id="form_file"  enctype="multipart/form-data">
                    <input type="file" id="fileAttach" name="pwd" />
                    <input type="button" onclick="upload_file()" value="上传" />
                    <input type="button" onclick="delete_pwd_file()" value="删除密码文件" />
                    <span id="file-wait" class="error-msg"></span>
                </form>
                <div style="color: red;font-weight: bold"><h6>必须是.xlsx格式的表格文件，并且IP地址在表格中的第一列，且格式正确</h6></div>
                <div id="get-file-error" class="error-msg"></div>
                <div class="nopadding">
                    <table class="table table-striped table-bordered" style="width:60%;border: 1px solid #CDCDCD;">
                      <thead>
                        <tr>
                          <th>历史记录</th>
                          <th>动作</th>
                        </tr>
                      </thead>

                      <tbody id="file-list">
                      </tbody>
                    </table>
                    <br>
                    <table id="change-table" class="table table-striped table-bordered dis-table" style="width:60%;border: 1px solid #CDCDCD;">
                      <thead>
                        <tr>
                          <th>IP</th>
                          <th>服务器修改密码结果</th>
                        </tr>
                      </thead>
                      <tbody id="change-pwd-re" style="font-weight: bold;">
                      </tbody>
                    </table>

                </div>
                <div id="file-ping-error" class="error-msg"></div>
                <br>
                <div>
                    <h5 id="file-pwd-list"></h5>
                    <h5 id="queue-name" style="display: none"></h5>
                </div>
            </div>

          </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $(function(){
            $.InitMenu('#pwd-manager', '#password-init');          /* 控制左侧菜单的闭合 为点击的按钮添加激活的样式 */
            Initialise();
        });

        function Initialise() {
            $.ajax({
                url:'/password/get_pwd_file/',
                type:'POST',
                traditional:true,
                success: function (data) {

                    var callbacks = $.parseJSON(data);               /* 将后台返回的数据 序列化为字典*/
                    console.log(callbacks);

                    EmbedIntoTable(callbacks,"#file-list");   // 将所有的数据都添加到id=table-body的tbody标签中

                },
                error:function(){
                    $('#get-file-error').text('获取文件列表失败')
                }
            });  // end ajax
        }


        function EmbedIntoTable(response, body){
            var response_status = response.status;
            if(response_status){
                $(body).empty();
                $.each(response.data,function(index,file_name){

                    var tds = [];
                    tds.push($.CreateTd({'class':'taskDesc','file-name':file_name}, {}, file_name));
                    tds.push($.CreateTd({'class':'taskOptions'}, {}, $.CreateInput({'type':'button','onclick':'RunFile(this)', 'value':'执行'}, {})));

                    var tr = $.CreateTr({}, {}, tds);

                    $(body).append(tr)
                })
            }else {
                $('#get-file-error').text(response.message);
            }
        }
        function ExecuteReTr(result_data, queue_name, save_body, change_body){
{#            var change_re_list = result_data.change_re;#}
            var save_re = result_data.save_re;
            var q_name = result_data.queue_key;
            console.log("qqueueueuue", q_name);
            $(save_body).empty();
            $(change_body).empty();
            $(queue_name).text(q_name);
            $('#file-ping-error').empty();
            $('#ip-list').val('');
            $('#error-message').text('');


{#            $.each(change_re_list, function(index,re_dict){#}
{#                var ip = re_dict.ip;#}
{#                var status = re_dict.status;#}
{#                var rule_tds = [];#}
{##}
{#                rule_tds.push($.CreateTd({'class':'taskDesc'}, {}, ip));#}
{#                rule_tds.push($.CreateTd({'class':'taskDesc'}, {}, status));#}
{#                var rule_tr = $.CreateTr({}, {}, rule_tds);#}
{#                $(change_body).append(rule_tr);#}
{##}
{##}
{#            });#}
{#            $("#change-table").removeClass('dis-table');#}

            if(save_re.import_re){
                $(save_body).text("密码导入成功")
            }else {
                $(save_body).text("密码导入失败")
            }

        }

        function upload_file(){
            $("#file-wait").text("上传中...");
              var form = new FormData(document.getElementById("form_file"));
              $.ajax({
              url:"/password/upload_pwd_file/",
              type:"post",
              data:form,
              cache: false,
              processData: false,
              contentType: false,
              success:function(data){
                    $("#file-wait").text(" ");
                  var response = $.parseJSON(data);
                    if(response.status){
                        Initialise();
                    }else {
                        $('#file-error').text(response.message);
                    }
              },
              error:function(){
                  $('#file-error').text("请求失败");
                  $("#file-wait").text(" ");
               }
              });
            }

        function RunFile(ths){
            var file_name = $(ths).parent().siblings().first().attr('file-name');
            var check_envir = $(":radio:checked").attr('envir');      // 获取所选环境
            $.ajax({
                url:'/password/init/',
                type:'POST',
                traditional:true,
                data:{'file_name':file_name, 'envir':check_envir},
                success: function (callback) {
                    var response = $.parseJSON(callback);
                    console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaa", response);
                    if(response.status){
                        ExecuteReTr(response.data, '#queue-name', '#file-pwd-list', '#change-pwd-re');
                        window.queue_size = 0;
                        set_flag = setInterval("GetQueueData()", 5000);
                    }else {
                        $('file-pwd-list').empty();
                        $('#file-ping-error').text(response.message);
                    }
                },
                error:function(){
                    $('#file-ping-error').text('请求失败');
                }
            });  // end ajax

        }

        function ShowQueueData(change_re_list, change_body){

            $.each(change_re_list, function(index,re_dict){
                var ip = re_dict.ip;
                var status = re_dict.status;
                var rule_tds = [];

                rule_tds.push($.CreateTd({'class':'taskDesc'}, {}, ip));
                rule_tds.push($.CreateTd({'class':'taskDesc'}, {}, status));
                var rule_tr = $.CreateTr({}, {}, rule_tds);
                $(change_body).append(rule_tr);


            });
            $("#change-table").removeClass('dis-table');
        }

        function GetQueueData(){
            var q_key = $('#queue-name').text();
            $.ajax({
                url:'/password/get_queue/',
                type:'POST',
                data:{'queue_key':q_key},
                traditional:true,
                success: function (callback) {
                    var response = $.parseJSON(callback);
                    console.log("qqqqqqqqqqqqqqqqqqqqqqqq", response);
                    if(response.status){


                        var queue_size = response.q_size;
                        if(queue_size == 0){
                            window.queue_size +=1;
                            console.log(window.queue_size)
                        }
                        if (window.queue_size == 3){
                            console.log('3333333333333333333333');
                            clearInterval(set_flag);
                        }else {
                            ShowQueueData(response.data, '#change-pwd-re');
                        }


                    }else {
                        $('file-pwd-list').empty();
                        $('#file-ping-error').text(response.message);
                    }
                },
                error:function(){
                    $('#file-ping-error').text('请求失败');
                }
            });  // end ajax
        }

        function delete_pwd_file(){
            $.ajax({
                url:'/password/delete_pwd_file/',
                type:'POST',
                traditional:true,
                data:{'opt':'delete'},
                success: function (callback) {
                    var response = $.parseJSON(callback);
                    if(response.status){
                        Initialise();
                    }else {
                        $('#file-ping-error').text(response.message);
                    }
                },
                error:function(){
                    $('#file-ping-error').text('请求失败');
                }
            });  // end ajax

        }
{#$(":radio:checked").attr('envir')#}
    </script>

{% endblock %}