<div class="error-msg" id="error-message" ></div>
    <div class="widget-box">
      <div class="widget-title">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">文件导入</a></li>
        </ul>
      </div>

      <div class="widget-content tab-content">

        <div style="font-weight: bold" class="tab-pane active">

            <form id="up_form_file"  enctype="multipart/form-data">
                <input type="file" id="fileAttach" name="upload_filename" />
                <input type="button" onclick="upload_file()" value="上传" />
                <span id="upload-wait" class="success-msg"></span>
                <div id="upload-file-error" class="error-msg"></div>
            </form>
            <div style="color: red;font-weight: bold"><h6>文件名不能含有中文</h6></div>
            <br>
            <div id="get-upfile-error" class="error-msg"></div>
            <div class="nopadding">
                <table class="table table-striped table-bordered" style="width:60%;border: 1px solid #CDCDCD;">
                  <thead>
                    <tr>
                      <th>文件名</th>
                      <th>大小</th>
                      <th>时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>

                  <tbody id="upfile-list">

                  </tbody>
                </table>
                <br>
            </div>
        </div>
      </div>

</div>


