{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css" />
    <style>
        .true-rule{
            color: green;
        }
        .false-rule{
            color: red;
        }
        .error-msg{
            color: red;
            font-weight: bold;
        }
        .have_windows{
            font-size: 12px;
            font-weight: bold;
            color: #FF5722;
        }
        .special_user{
            margin-left: 15px;
            margin-bottom: 0; !important;
        }
    .control-label1{
        padding-top: 15px;
        width: 60px;
        float: left;
        text-align: right;
    }
    .table td{
        text-align:center; !important;
        border: 1px solid #ddd;
    }
    .table-new{
        width: 50%;
        border: 1px solid #ddd;!important;
    }
    .data-error{
        font-weight: bold;
        color: red;
    }
    .two-rowspan{
        rowspan:2;
    }
    .two-colspan{
        colspan:2;
    }

    </style>
{% endblock %}


{% block container %}
    <div class="nopadding" style="margin-top: 20px;">

        <div class="widget-box">
          <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab1">物理机信息查询</a></li>
              <li ><a data-toggle="tab" href="#tab2">数据统计</a></li>

            </ul>
          </div>

          <div class="widget-content tab-content" style="padding: 5px">

              <div id="tab1" style="font-weight: bold" class="tab-pane active">

               <div >
                  <div class="controls">

                        <form class="form-horizontal" name="basic_validate" id="basic_validate" novalidate="novalidate">

                              <div class="control-group error">
                                <label class="control-label1" STYLE="font-weight: bold">SN号</label>
                                <div class="controls" style="margin-left: 70px;">
                                  <input type="text" name="sn" id="check_key" style="border-color: #ccc">
                                </div>
                              </div>

                              <div style="padding: 5px;margin-left: 15px">
                                  <input  id="submit-data" onclick="SearchDate();" value="提 交" class="btn btn-success">
                              </div>
                        </form>
                    <div class="error-msg" id="error-message" ></div>
                  </div>
               </div>


                  <div style="float: left">
                        <p>
{#                          <button class="btn" onclick="$.UnCheckAll('#body-data')">取消</button>#}
                          <button id="edit_mode_target" class="btn" onclick="$.IntoEditModeOther(this, '#data-table')">进入编辑模式</button>
                          <button class="btn" onclick="Save()">保存</button>
                        </p>
                  </div>

                  <div style="float: left; margin-left: 50px">
                      <form id="form_file"  enctype="multipart/form-data">
                        <input type="file" id="fileAttach" name="idc-file" />
                        <input type="button" onclick="upload_file()" value="上传" />
                        <span id="file-wait" class="error-msg"></span>
                      </form>
                  </div>

                  <div id="result-msg" style="color: green; font-weight: bold"></div>

                  <div class="widget-box">
                   <div class="widget-content nopadding budget-width">
                    <table class="table table-bordered table-striped with-check">
                      <thead id="title_name" style="font-weight: bold">

                      </thead>
                      <tbody id="body-data" >

                      </tbody>
                    </table>
                  </div>
                  <div class="widget-content nopadding budget-width">
        {#            <table class="table table-bordered table-striped with-check">#}

                    <table class="table table-bordered table-striped with-check">
                      <thead>
                        <tr>
                          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                          <th>项目类型</th>
                          <th>IP地址</th>
                          <th>应用类型</th>
                          <th>设备状态</th>
                          <th>资产编号/SN号</th>
                          <th>设备品牌</th>
                          <th>所属人</th>
                          <th>所属机房</th>
                        </tr>
                      </thead>
                      <tbody edit-mode='false' id="data-table">

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

              <div id="tab2" style="font-weight: bold" class="tab-pane ">
                  <div id="get-file-error"></div>

              </div>

          </div>
        </div>




    </div>
{% endblock %}


{% block js %}

    <script type="text/javascript">

        $(function(){
{#            $.InitMenu('#pwd-manager', '#password-check');          /* 控制左侧菜单的闭合 为点击的按钮添加激活的样式 */#}
            Initialise();
        });
        // 请求一些统计数据
        function Initialise(){
            $.ajax({
                url:'/idc/statistics/',
                type:'POST',
                traditional:true,
                success: function (data) {
                    var callbacks = $.parseJSON(data);
                    console.log("ccccccccccccccccccc", callbacks);
                    if (callbacks.status){
                        // 总的表格数据请求成功

                        AddInTable(callbacks);
                    }
                },
                error:function(){
                    $('#get-data-error').text('获取统计数据失败')
                }

            })
        }

        function upload_file(){
            $("#file-wait").text("上传中...");
              var form = new FormData(document.getElementById("form_file"));
              $.ajax({
              url:"/idc/idc_file/up/",
              type:"post",
              data:form,
              cache: false,
              processData: false,
              contentType: false,
              success:function(data){
                    $("#file-wait").text(" ");
                    var response = $.parseJSON(data);
                  console.log(response);
                    if(response.status){
                        $("#file-wait").text("导入成功");
                        Initialise();

                    }else {
                        $('#file-error').text(response.message);
                    }
              },
              error:function(){
                  $('#file-error').text("请求失败");
                  $("#file-wait").text(" ");
               }
              });
            }

        //vir_host  宿主机 非宿主机
        function VirHost(data_dict){
            if (!data_dict.status){
                var new_div = $.CreateDiv({'class':'widget-content data-error'}, {}, '宿主机请求失败');
                $('#tab2').append(new_div);

            }else {
                // 创建一个table
                // 创建thead  tbody
                // 将数据填充到里面
                var data = data_dict.data;
                var head = document.createElement('thead');
                var h_tr = document.createElement('tr');
                h_tr.appendChild($.CreateTh({}, {}, '类型'));
                h_tr.appendChild($.CreateTh({}, {}, '在线'));
                h_tr.appendChild($.CreateTh({}, {}, '下线'));
                h_tr.appendChild($.CreateTh({}, {}, '报废'));
                h_tr.appendChild($.CreateTh({}, {}, '合计'));
                h_tr.appendChild($.CreateTh({}, {}, '比率'));
                head.appendChild(h_tr);

                var body = document.createElement('tbody');
                var b_tr1 = document.createElement('tr');       // 宿主机
                b_tr1.appendChild($.CreateTd({}, {}, '宿主机'));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_vhost_online));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_vhost_downline));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_vhost_not_use));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_vhost_count));
                b_tr1.appendChild($.CreateTd({}, {}, data.vhost_percent));
                body.appendChild(b_tr1);

                var b_tr2 = document.createElement('tr');      // 非宿主机
                b_tr2.appendChild($.CreateTd({}, {}, '非宿主机'));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_host_online));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_host_downline));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_host_not_use));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_host_count));
                b_tr2.appendChild($.CreateTd({}, {}, data.host_percent));
                body.appendChild(b_tr2);

                var b_tr3 = document.createElement('tr');       // 合计
                b_tr3.appendChild($.CreateTd({}, {}, '合计'));
                b_tr3.appendChild($.CreateTd({}, {}, data.all_host_online));
                b_tr3.appendChild($.CreateTd({}, {}, data.down_line_count));
                b_tr3.appendChild($.CreateTd({}, {}, data.all_host_not_use + data.all_vhost_not_use));
                b_tr3.appendChild($.CreateTd({}, {}, data.all_count));
                b_tr3.appendChild($.CreateTd({}, {}, null));
                body.appendChild(b_tr3);
                var new_table = $.CreateTable({'class':'table-new table'}, {}, head, body);
                var new_div = $.CreateDiv({'class':'widget-content '}, {}, new_table);
                $('#tab2').append(new_div);
            }
        }
        // 可虚拟化与不可虚拟化
        function CanVirtual(data_dict){
            if (!data_dict.status){
                var new_div = $.CreateDiv({'class':'widget-content data-error'}, {}, '可虚拟化数据请求失败');
                $('#tab2').append(new_div);

            }else {
                var data = data_dict.data;
                var head = document.createElement('thead');
                var h_tr = document.createElement('tr');
                h_tr.appendChild($.CreateTh({}, {}, '类型'));
                h_tr.appendChild($.CreateTh({}, {}, '在线'));
                h_tr.appendChild($.CreateTh({}, {}, '下线'));
                h_tr.appendChild($.CreateTh({}, {}, '报废'));
                h_tr.appendChild($.CreateTh({}, {}, '合计'));
                head.appendChild(h_tr);

                var body = document.createElement('tbody');
                var b_tr1 = document.createElement('tr');
                b_tr1.appendChild($.CreateTd({}, {}, '可虚拟化'));
                b_tr1.appendChild($.CreateTd({}, {}, data.can_virtual_online));
                b_tr1.appendChild($.CreateTd({}, {}, data.can_virtual_offline));
                b_tr1.appendChild($.CreateTd({}, {}, data.can_virtual_scrap));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_can_virtual));
                body.appendChild(b_tr1);

                var b_tr2 = document.createElement('tr');
                b_tr2.appendChild($.CreateTd({}, {}, '不可虚拟化'));
                b_tr2.appendChild($.CreateTd({}, {}, data.not_virtual_online));
                b_tr2.appendChild($.CreateTd({}, {}, data.not_virtual_offline));
                b_tr2.appendChild($.CreateTd({}, {}, data.not_virtual_scrap));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_not_virtual));
                body.appendChild(b_tr2);

                var new_table = $.CreateTable({'class':'table-new table'}, {}, head, body);
                var new_div = $.CreateDiv({'class':'widget-content '}, {}, new_table);
                $('#tab2').append(new_div);

            }
        }
        function MakeTbody(data_dict){
            var body = document.createElement('tbody');
            $.each(data_dict, function (index, value_dict) {
                var idc_tr = document.createElement('tr');
                idc_tr.appendChild($.CreateTd({}, {}, value_dict.name));
                idc_tr.appendChild($.CreateTd({}, {}, value_dict.online));
                idc_tr.appendChild($.CreateTd({}, {}, value_dict.offline));
                idc_tr.appendChild($.CreateTd({}, {}, value_dict.scrap));
                idc_tr.appendChild($.CreateTd({}, {}, value_dict.all_count));
                body.appendChild(idc_tr);
            });
            return body
        }
        function IDC(data_dict){
            if (!data_dict.status){
                var new_div = $.CreateDiv({'class':'widget-content data-error'}, {}, 'IDC数据请求失败');
                $('#tab2').append(new_div);
            }else {
                var data = data_dict.data;
                var head = document.createElement('thead');
                var h_tr = document.createElement('tr');
                h_tr.appendChild($.CreateTh({}, {}, '机房'));
                h_tr.appendChild($.CreateTh({}, {}, '在线'));
                h_tr.appendChild($.CreateTh({}, {}, '下线'));
                h_tr.appendChild($.CreateTh({}, {}, '报废'));
                h_tr.appendChild($.CreateTh({}, {}, '合计'));
                head.appendChild(h_tr);

                var idc_tbody = MakeTbody(data);

                var new_table = $.CreateTable({'class':'table-new table'}, {}, head, idc_tbody);
                var new_div = $.CreateDiv({'class':'widget-content '}, {}, new_table);
                $('#tab2').append(new_div);
            }
        }
        function Brand(data_dict){
            if (!data_dict.status){
                var new_div = $.CreateDiv({'class':'widget-content data-error'}, {}, 'IDC数据请求失败');
                $('#tab2').append(new_div);
            }else {
                var data = data_dict.data;
                var head = document.createElement('thead');
                var h_tr = document.createElement('tr');
                h_tr.appendChild($.CreateTh({}, {}, '机房'));
                h_tr.appendChild($.CreateTh({}, {}, '在线'));
                h_tr.appendChild($.CreateTh({}, {}, '下线'));
                h_tr.appendChild($.CreateTh({}, {}, '报废'));
                h_tr.appendChild($.CreateTh({}, {}, '合计'));
                head.appendChild(h_tr);

                var brand_body = MakeTbody(data);
                var new_table = $.CreateTable({'class':'table-new table'}, {}, head, brand_body);
                var new_div = $.CreateDiv({'class':'widget-content '}, {}, new_table);
                $('#tab2').append(new_div);
            }
        }
        // 数据库和应用服务器
        function SQLAndApp(data_dict){
            if (!data_dict.status){
                var new_div = $.CreateDiv({'class':'widget-content data-error'}, {}, '可虚拟化数据请求失败');
                $('#tab2').append(new_div);

            }else {
                var data = data_dict.data;
                var head = document.createElement('thead');
                var h_tr = document.createElement('tr');

                h_tr.appendChild($.CreateTh({'colspan':'2'}, {}, '类型'));
                h_tr.appendChild($.CreateTh({}, {}, '设备（台数）'));     // two-rowspan 行 two-colspan 列
                h_tr.appendChild($.CreateTh({'colspan':'2'}, {}, '比率（%）'));
                head.appendChild(h_tr);

                var body = document.createElement('tbody');
                var b_tr1 = document.createElement('tr');
                b_tr1.appendChild($.CreateTd({'colspan':'2'}, {}, '数据库服务器'));
                b_tr1.appendChild($.CreateTd({}, {}, data.all_sql_count));
                b_tr1.appendChild($.CreateTd({}, {}, null));
                b_tr1.appendChild($.CreateTd({}, {}, data.sql_percent));
                body.appendChild(b_tr1);

                var b_tr2 = document.createElement('tr');
                b_tr2.appendChild($.CreateTd({'rowspan':'2'}, {}, '应用服务器'));
                b_tr2.appendChild($.CreateTd({}, {}, '宿主机'));
                b_tr2.appendChild($.CreateTd({}, {}, data.all_app_virtual));
                b_tr2.appendChild($.CreateTd({}, {}, null));
                b_tr2.appendChild($.CreateTd({'colspan':'2'}, {}, data.app_percent));
                body.appendChild(b_tr2);

                var b_tr3 = document.createElement('tr');
                b_tr3.appendChild($.CreateTd({}, {}, '非宿主机'));
                b_tr3.appendChild($.CreateTd({}, {}, data.all_app_no_virtual));
                b_tr3.appendChild($.CreateTd({}, {}, null));
                body.appendChild(b_tr3);

                var b_tr4 = document.createElement('tr');
                b_tr4.appendChild($.CreateTd({'colspan':'2'}, {}, '其它（下线、报废等）'));
                b_tr4.appendChild($.CreateTd({}, {}, data.all_device_can_not_use));
                b_tr4.appendChild($.CreateTd({'colspan':'2'}, {}, null));
                body.appendChild(b_tr4);

                var b_tr5 = document.createElement('tr');
                b_tr5.appendChild($.CreateTd({'colspan':'2'}, {}, '合计'));
                b_tr5.appendChild($.CreateTd({}, {}, data.all_count));
                b_tr5.appendChild($.CreateTd({'colspan':'2'}, {}, null));
                body.appendChild(b_tr5);

                var new_table = $.CreateTable({'class':'table-new table'}, {}, head, body);
                var new_div = $.CreateDiv({'class':'widget-content '}, {}, new_table);
                $('#tab2').append(new_div);

            }
        }
        // 将数据添加到表中 展示
        function AddInTable(all_table_data){
            // 宿主机
            SQLAndApp(all_table_data.sql_and_app);
            VirHost(all_table_data.vir_host);
            CanVirtual(all_table_data.can_virtual);
            IDC(all_table_data.idc);
            Brand(all_table_data.brand);

        }
        function Import(){

        }

        function SearchDate() {
            // 获取搜索框里的数据
            $('#result-msg').empty();
            var input_data = $('#check_key').val().trim();
            $.ajax({
                url:'/idc/check_data/',
                type:'POST',
                traditional:true,
                data: {'input_data':input_data},
                success: function (data) {

                    var callbacks = $.parseJSON(data);               /* 将后台返回的数据 序列化为字典*/
                    console.log(callbacks);
                    InitGlobalDict(callbacks);
                    EmbedIntoTable(callbacks.search_data, "#data-table");   // 将所有的数据都添加到id=table-body的tbody标签中

                },
                error:function(){
                    $('#get-file-error').text('获取文件列表失败')
                }
            });  // end ajax
        }


        /*
        初始化字典到全局变量，以便Select中的选项使用
        */
        function InitGlobalDict(callback){
            window.window_pro_type = callback.pro_type.data;
        }


        function EmbedIntoTable(response, body) {
            var response_status = response.status;
            if(response_status){
                $(body).empty();
                $.each(response.data,function(index,data_dict){

                    var tds = [];

                    tds.push($.CreateTd({}, {}, $.CreateInput({'type':'checkbox'}, {})));
                    tds.push($.CreateTd({'edit-enable':'true', 'name':'pro_type','edit-type':'select', 'origin': data_dict.pro_type,'options':'window_pro_type', 'value_key':'id', 'text_key':'name'}, {}, data_dict.pro_type));
                    tds.push($.CreateTd({}, {}, data_dict.ip));
                    tds.push($.CreateTd({}, {}, data_dict.app_type));
                    tds.push($.CreateTd({}, {}, data_dict.device_status));
                    tds.push($.CreateTd({}, {}, data_dict.sn));
                    tds.push($.CreateTd({}, {}, data_dict.brand));
                    tds.push($.CreateTd({}, {}, data_dict.own_person));
                    tds.push($.CreateTd({}, {}, data_dict.idc));
                    var tr = $.CreateTr({'data-id':data_dict.id}, {}, tds);

                    $(body).append(tr)
                })
            }else {
                $('#get-file-error').text(response.message);
            }
        }

        function Save(){
            if($('#edit_mode_target').hasClass('in-editing')){     // 判断进入编辑模式按钮 有此样式
                $.IntoEditModeOther('#edit_mode_target','#data-table');     // 如果有此样式 则执行编辑模式的方法
            }
            var updateData = [];                            // 专门保存 发生变更的数据
            $('#data-table').children().each(function(){
                var id = $(this).attr('data-id');           // 数据库中的id
                var flag = false;
                var rows = {};
                $(this).children('td[edit-enable="true"]').each(function(){
                    var origin = $(this).attr('origin');                        // 获取这个td下origin属性的值
                    var newer = $(this).text();                                 // 获得其文本内容
                    var name = $(this).attr('name');                            // 获得name属性的值
                    if(newer && newer.trim() && origin != newer){
                        rows[name] = newer;
                        flag = true;
                    }
                });
                if(flag){                           // 如果表示为true 说明 修改了数据
                    rows["id"] = id;
                    updateData.push(rows);          // 像列表中 添加修改数据的字典
                }
            });
            if(updateData.length<1){            // 如果列表长度小于1 说明 无数据
                return
            }
            updateData = JSON.stringify(updateData);        // json转换格式

            $.ajax({
                url:'/idc/data_update/',
                type:'POST',
                data:{'data':updateData},
                success: function (response) {
                    var callback = $.parseJSON(response);       // 如果成功 将后台返回的数据 json回来
                    console.log(callback);
                    if(callback.status){
                        //success
                        $("#result-msg").html('<p>'+callback.data +'</p>');
{#                        SuccessHandleStatus(target_status,callback.data);#}
                    }else{
{#                        ErrorHandleStatus(target_status,callback.data,callback.message);#}

                    }
                },
                error:function(){
                    alert('请求错误.');

                }

            });

        }
    </script>

{% endblock %}